﻿<form class="form-login" role="form">
    <h2 class="form-login-heading">Sign up</h2>
    <input type="text" class="form-control" placeholder="First Name" data-ng-model="registration.firstName" required autofocus>
    <input type="text" class="form-control" placeholder="Last Name" data-ng-model="registration.lastName" required>
    <input type="text" class="form-control" placeholder="Email" data-ng-model="registration.email" required>
    <input type="text" class="form-control" placeholder="Birthdatel" data-ng-model="registration.birthdate" required>
    <input type="radio" data-ng-model="registration.gender" value="male" />male
    <input type="radio" data-ng-model="registration.gender" value="female"/>female <br/>
    <input type="password" class="form-control" placeholder="Password" data-ng-model="registration.password" required>
    
    <button class="btn btn-lg btn-info btn-block" type="submit" data-ng-click="signUp()">Submit</button>
    <div data-ng-hide="message == ''" data-ng-class="(savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">
        {{message}}
    </div>
</form>